/* Halloween colors 
#7e401b - brown
#962903 - dark red
#fc962e - medium orange
#e86807 - darker orange
#ffbd83 - offwhite/light orange
*/
article, aside, figure, figcaption, footer, header, nav, section {
    display: block;
}


/****************** Styles on the MasterPage.master Page ***************/
body {
    color: #59524B;
    background-image: url('halloween_background.png');
   /* max-width: 920px;
    margin: 0 auto; */
}

.wrapper{
    display:block;
    margin: 0 auto;
   /*width: 80%; dont change this, yo. */
}
/************************* header *************************************/
.pageHeader {
    margin-bottom: 5px;
}

.pageHeader img {
     width: 100%;
     height: auto; 
}

.pageHeader img {display: none;}

#image_large{ display: none; }
#image_med { display: none; }
#image_sm { display: none; }

.birthdayheader_lrg { display: none;  }
.birthdayheader_med { display: none; }
.birthdayheader_sm  { display: none; }

.halloweenheader_lrg { display: inline !important; }
.halloweenheader_med { }
.halloweenheader_sm  { }
/* end header css*/

.navbar2{
    clear: both;
    text-align: center;
    display: table;
    margin: 0 auto;
    height: 55px;
}
.menuButtons { /* this is for the individual navigation buttons*/
    margin: 0;
    background-color: #D16956;
    color: #F2F2F2;
    padding: 2px;
    width: 148px;
    text-align:center;
    font-size:large;
    font-weight:bold;
 }

.navbar {
   /* background-color: #D16956; */
    color: #F2F2F2;
    border-style: none;
}


#featured {
    background-color:  #F1BC75;
    /*margin: 0 10px;*/
    padding:20px;
}


#centertext {
    margin: 0 auto;
    text-align: center;
}

#shopButtons{

}
#cartButtons{

}


.profileEditRow{
    padding: 25px;
    background-color: deeppink;
}
/*************** FOOTER *******************/

.footerButtons {
    margin: 0;
    background-color: #6FA398;
    color: #F2F2F2;
    padding: 2px;
    width: 148px;
    text-align:center;
    font-size:large;
    font-weight:bold;
}

.footerNav {
    clear: both;
    text-align: center;
    display: table;
    margin: 0 auto;
    
}
.footer {
    background-color: #6FA398;
    padding: 5px;
    margin-top: 10px;
}

/**************< Start of Profile Page >**************/
.profileContainer{
    display:table;
    width: 500px;
    margin: 15px auto;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight:bold;
}

.profileHeader{
    display:inline-block;
    border-radius: 4px 4px 0 0;
    background-color:#428bca;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
}
/**************^ Profile Page END ^**************/
/************** START OF LOGIN **************/
.loginContainer{
    display:block;
    width: 400px;
    margin: 15px auto;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight:bold;
}

.loginInnerContainer{
    padding: 20px;
}
/***************^END LOGIN^************************/
.center-block {  
    display: block;  
    clear: both;

    display: table;
    margin: 0 auto;
}  

/****************CONTACT PAGE **********************/
.contact-header {
    opacity: .5;
    filter: aplpha(opacity = 50);
    text-align:center;
}
.contact_header h2{
    text-align:center;
    margin-top: 0;
    margin-bottom: 5px;
}
/*************** start of media queries go here ***************/

@media only screen and (max-width : 920px){
    .halloweenheader_lrg { display: none !important; }
    .halloweenheader_med { display: inline !important;}

    .menuButtons {display: block; width: 120px; text-size-adjust: 80%; font-weight:normal; margin-left: 2px; margin: 0 auto;}
    .footerButtons {display: block; width: 120px; text-size-adjust: 80%; font-weight:normal; margin-left: 2px; margin: 0 auto; }
    /*.footerButtons { display: block; width: 100px; text-size-adjust: 80%; font-weight: normal;padding: 0px; margin: 0px;}
    .footernav { display: block; padding: 5px; margin: 5px auto;}*/
}

@media only screen and (max-width : 500px) {
    .halloweenheader_med { display: none !important;}
    .halloweenheader_sm  { display: inline !important;}

    .menuButtons { display: block; width: inherit; min-width: 235px; margin: 0px auto 5px auto; }
    .footerButtons { display: block; width: 100%; min-width: 235px; margin: 0px auto 5px auto; }
    /*.footerButtons { display: block; width: 125px; margin-left: 35px; padding: 5px; text-align: center; }
    .footernav { margin: 0px auto; text-align: center; }*/
}